[Authorization]
Address =
Port =
User =
Password =
HomeAssistantToken =
BaseURL =

[Configuration]
Topic = custommqtt/devices/control

[Devices]
tuyaid_rgb =
ip_rgb =
key_rgb =

tuyaid_decorate =
ip_decorate =
key_decorate =

ip_desk =
miio_token_desk =

hassid_fan =
hassid_climate =
hassid_lights =